{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'pdrug' %}" class="list-group-item list-group-item-action" aria-current="true">All pdrug</a>
     <a href="{% url 'pdrugdata' 'Redmi'  %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
     <a href="{% url 'pdrugdata' 'Samsung'  %}" class="list-group-item list-group-item-action">Samsung</a>
     <a href="{% url 'pdrugdata' 'below'  %}" class="list-group-item list-group-item-action">Below 10000</a>
     <a href="{% url 'pdrugdata' 'above'  %}" class="list-group-item list-group-item-action">Above 10000</a>
   </div>
  </div>
     <h1>this is About</h1>
 </div>
</div>
{% endblock main-content %}