{% extends 'app/base.html' %}
{% load static %}
{% block title %}Supplies{% endblock title %}
{% block main-content %}
<div class="container my-8">
 <div class="row">
  <!--div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'pdrug' %}" class="list-group-item list-group-item-action" aria-current="true">All pdrug</a>
     <a href="{% url 'pdrugdata' 'Redmi'  %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
     <a href="{% url 'pdrugdata' 'Samsung'  %}" class="list-group-item list-group-item-action">Samsung</a>
     <a href="{% url 'pdrugdata' 'below'  %}" class="list-group-item list-group-item-action">Below 10000</a>
     <a href="{% url 'pdrugdata' 'above'  %}" class="list-group-item list-group-item-action">Above 10000</a>
   </div> -->
  </div>
  <div class="col-sm-12">
   <div class="row">
    {% for product in supply %}
     <div class="col-sm-4 text-center mb-12">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" width="250"  class="">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">A$. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
       </div>
      </a>
     </div>
     
    {% endfor %}
    
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}